<div class="container-fluid">
  <div class="container mb-4 mt-4"><h2><%= @list.name %></h2></div>

  <div class="container mb-4">

      <% @list.movies.each do |movie| %>
        <div class="card-trip">
          <%= image_tag movie.poster_url %>
          <div class="card-trip-infos">
            <div>
              <h2><%= movie.title %></h2>
              <p><%= movie.overview %></p>
            </div>
            <h2 class="card-trip-pricing"><%= movie.rating %></h2>
          </div>
      <% end %>

    </div>

  <div class="back mt-4">
    <%= link_to "Back", lists_path%>
  </div>

  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: 'btn btn-ghost' %>

</div>
